<div class="user">
  <div class="user-avatar">
    <%= image_tag(asset_path('anonym.png'), class: 'img-icon') %>
  </div>
  <div class="user-name">
    <p><strong><%= model.user_name %></strong></p>
  </div>
</div>