<span>
  <span>
    <%= image_tag(user_avatar(photo.user), class: 'img-icon-small') %>
  </span>
  <span>
    <% if request.path == user_path(photo.user) %>
      <span><%= photo.user.name %></span>
    <% else %>
      <span><%= link_to photo.user.name, user_path(photo.user) %></span>
    <% end %>
  </span>
  <% if current_user_can_edit?(photo) %>
    <%= link_to('',
                event_photo_path(photo.event, photo),
                method: :delete,
                data: {confirm: t('.destroy_confirm')},
                class:'glyphicon glyphicon glyphicon-trash'
        ) %>
  <% end %>
</span>