<div class="row justify-content-center">
  <div class="col-md-4">
    <h1 class="text-center"><%= t('users.edit_profile') %></h1>
    <%= render 'form' %>

    <p class="buffer-top">
      <%= link_to t('users.ad_settings'), edit_user_registration_path %>
    </p>
  </div>
</div>
