.photo-form {
  padding: 5px 10px 10px 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 10px;
}

.event-photo {
  margin: 10px 10px 10px 0px;
  width: 100px;
}

.photo-loader {
  padding: 10px 10px 0 10px;
}
