.user-avatar .img-icon {
  margin-top: -2px;
  height: 35px;
}

.img-profile {
  height: 120px;
  border-radius: 50%;
}

.user {
  text-align: center;
  width: 50px;
}

.user-box {
  max-width: 70px;
}

.user-name {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  font-size: 15px;
  line-height: 19px;
}